<body>
  <div id="toolbar">
  <input type="button" name="line" value="line"   (click)="Draw('line')"/>

  <input #shap  type="button" name="elipse" value="elipse"   (click)="Draw('elipse')"/>
  <input #shap type="button" name="line"value="circle"    (click)="send()"/>
  <input #shap type="button" name="rectangle" value="rectangle"   (click)="Draw('rectangle')"/>
  <input #shap type="button" name="triangle" value="triangle"   (click)="Draw('triangle')"/>
  <input type="color" id="coloricon" [(ngModel)]="colors" />
</div>
  <br>

<canvas #canvas>

</canvas>

</body>
