<body>
  <div id="toolbar">
    <input type="button"(click)="Save()">
    <input type="color" id="coloricon" [(ngModel)]="color" />

  <input type="radio" name="toolbar" value="line"   (click)="Draw('line')"/><span>line</span>
  <input   type="radio" name="toolbar" value="elipse"   (click)="Draw('elipse')"/><span>Elipse</span>
  <input  type="radio" name="toolbar" value="rectangle"   (click)="Draw('rectangle')"/><span>Rectangle</span>
  <input  type="radio" name="toolbar" value="triangle"   (click)="Draw('triangle')"/><span>Triangle</span>
  <input  type="radio" name="toolbar" value="circle"   (click)="Draw('circle')"/><span>Circle</span>

  <input type="radio" name="toolbar" value="clear"   (click)="clearCanvas()"/><span>clear</span>
  <input type="radio" name="toolbar" value="clear"   (click)="UNDO()"/><span>undo</span>
  <input type="radio" name="toolbar" value="clear"   (click)="REDO()"/><span>redo</span>

</div>
  <br>

<canvas  #canvas id="canvas">

</canvas>

</body>
